@use "../base/reset";
@use "../base" as *;

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: $fontNormal;
  font-size: 16px;
  line-height: 26px;
  color: $colorBlack;
  @include gridLayout(0, 150px);
}

.header{
  grid-area: header;
}
.main{
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.container{
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

