@use "../base/reset";
@use "../base" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  @include fonts($fontNormal, 16px, 26px);
  color: $colorBlack;
  @include gridLayout(0, 150px);
}

.header,
.footer,
.presentation,
.publications,
.staff-slider,
.banner {
  padding: 0 60px;
  @include mobile {
   padding: 0 30px;
  }
}

.header {
  grid-area: header;
  @include TabSD {
    padding: 0 30px;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  @include TabSD {
    padding: 0 30px;
  }
  @include mobile {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
}

input, textarea, button {
  outline: none;
  border: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  @include DescSD {
    max-width: 1320px;
  }
  @include TabHD {
    max-width: 904px;
  }
  @include TabSD {
    max-width: 648px;
  }
 @include mobile {
    max-width: 515px;
  }
}

