@use "../base/reset";
@use "../base" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  @include fonts($fontNormal, 16px, 26px);
  color: $colorBlack;
  @include gridLayout(0, 150px);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
  @include DescSD {
    max-width: 1380px;
  }
  @include TabHD {
    max-width: 964px;
  }

}

