@use "../base" as *;

.footer {
  @include fonts($fontNormal, 16px, 20px);

  &__wrapper {
    border-top: 2px solid $colorGreySeparator;
    padding: 30px 0 30px;
    gap: 20px;
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, auto);
  }

  &__link {
    @include inlineFlexCenterVert;
    gap: 10px;
    color: $colorRegular;
    transition: all 0.6s ease-in-out;

    &::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $colorGreyText;
    }

    &:hover:not(.footer__phone) {
      color: $colorAssent;
    }
  }

  &__address {
    @include inlineFlexCenterVert;
    gap: 10px;
    color: $colorMain;
  }

  &__map {
    @include fonts($fontBold, 12px, 15px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__fb {
    fill: $colorRegular;
    transition: all 0.6s ease-in-out;

    &:hover {
      fill: $colorAssent;
    }
  }

  &__phone {
    @include fonts($fontBold, 16px, 20px);
    color: $colorMainAlt;
  }

  &__copyright {
    color: $colorGreyText;
    justify-self: end;
  }

  &__contacts {
    @include flexCenterVert;
    gap: 10px;
    grid-row: 2/3;
    @include TabSD {
      grid-column: 1/3;
    }
  }
}
