@use "../../base" as *;

.staff-slider {
  padding: 80px 0 0 0;

  &__breadcrumb {
    margin: 0 0 5px 0;
  }
  .breadcrumb {
    display: block;
    @include fonts($fontBold, 14px, 17px);
    color: $colorRegular;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      color: $colorAssent;

      &:after {
        content: url("/images/arrov_active.svg");
      }
    }
    &:after {
      margin-left: 5px;
      content: url("/images/arrov.svg");
    }
  }

  &__title {
    margin: 0 0 30px 0;
    max-width: 1140px;
    @include DescSD{
      max-width: 860px;
    }
  }

  .title {
    @include fonts($fontBold, 38px, 46px);
    @include gradientText;

  }

  &__sub {
    @include fonts($fontBold, 16px, 20px);
    color: $colorGreyText;
    margin: 0 0 6px 0;
  }

  &__post {
    @include fonts($fontNormal, 14px, 22px);
    color: $colorGreyText;
  }

  &__photo {
    margin: 0 30px 0 0;
    min-width: 400px;
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  &__wrapper {
    @include flexCenterVert;
  }

  &__switch {
    @include flexCenterHoriz;
    gap: 15px;
    margin: 30px 0 0 0;
  }

  &__text {
    @include flexDirection;
    align-items: flex-start;
    margin: 0 30px 0 0;
  }

  &__dot {
    width: 16px;
    height: 16px;
    background: $colorRegular;
    opacity: 0.2;
    border-radius: 50%;
    cursor: pointer;

    &:hover:not(.staff-slider__dot_active){
      opacity: 0.6;
    }

    &_active {
      opacity: 1;
    }
  }
}
