@use "../../base" as *;

.presentation__position_page{
  padding: 178px 60px 0;
  @include TabHD {
    padding: calc(400px - (178px + (240 - 178) * ((100vw - 769px) / (1024 - 769)))) 60px 0; //todo
  }
  @include TabSD {
    padding: 269px 60px 0;
  }
  @include mobile {
    padding: 135px 30px 0;
  }
}

.banner_page{
  padding: 80px 0 60px 0;
  @include DescSD{
    padding: 80px 0 0;
  }
}
